{% extends "base.html" %}

{% block content %}
<main class="container">
    
    <div class="row">
        
        {% if user.is_superuser %}
            <h1>Hello {{user}}</h1>
            <div class="match-form">
                <h1>{{partido.local}} - {{partido.visitante}}</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{error}}
                        {{ form.as_p }}
                        <button>
                            Update
                        </button>
                    </form>

                    <form action="{% url 'partido_finished' partido.id %} " method="POST">
                        {% csrf_token %}
                        <button type="submit">Save</button>
                    </form>

                    <div class="team-details">
                        <div class="local_detail">
                            {{local.team_name}}
                            {% for jugador in jugadores_local %}
                                <ul>
                                    <li>
                                        <p>
                                        {{jugador.name}}
                                        {{jugador.age}}
                                        {{jugador.role}}
                                        </p>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>

                        <div class="visitante_detail">

                            {{visitante.team_name}}
                            {% for jugador in jugadores_visitante %}
                                <ul>
                                    <li>
                                        <p>
                                        {{jugador.name}}
                                        {{jugador.age}}
                                        {{jugador.role}}
                                        </p>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        {% else %}
            <div class="scoreboard">
                <h1>{{partido.local}} - {{partido.visitante}}</h1>
                <p>{{partido.goles_local}} - {{partido.goles_visitante}}</p>
            </div>
            
            <div class="teams-detail">
                <div class="local_detail">
                    {{local.team_name}}
                    {% for jugador in jugadores_local %}
                    <ul>
                        <li>
                            <p>
                            {{jugador.name}}
                            {{jugador.age}}
                            {{jugador.role}}
                            </p>
                        </li>
                    </ul>
                    {% endfor %}
                </div>

                <div class="visitante_detail">
                    {{visitante.team_name}}
                    {% for jugador in jugadores_visitante %}
                        <ul>
                            <li>
                                <p>
                                {{jugador.name}}
                                {{jugador.age}}
                                {{jugador.role}}
                                </p>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>            
        {% endif %}
    </div>

</main> 
{% endblock content %}